.Top_header-Container-Copy {
    display: block;
    /*background: linear-gradient(90deg, rgb(69, 129, 47) 0%, rgb(12, 87, 47)  100%);*/
    background: rgb(6, 71, 20);
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    }

    .ContainerHeader {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 1000px;
        margin-left: 80px;
      }
  
    .content-Top{
      text-align: start;
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 0.8px;
      padding-top: 0px;
      margin-left: 25px;
    }

    .Link-Top-Header {
        color: rgb(255, 255, 255);
        text-decoration: none;
      }
  
    @media screen and (max-width: 960px) {
      .Top_header-Container-Copy {
          display: flex;
          height: 0px;
          }
    }
    